




.one{
    text-shadow: 10px 10px 10px blue;
 font-size: large;  
font-style: italic;

}
.FF{
padding-left: 20;
margin-bottom: auto;
border:10px;
border-top:solid red;
border-radius: 100px;
font-size: medium;
text-align:left;
padding-left:12px;
}
.div1{
height:500px;
width:500px;
background-color: brown;
display:flex;
justify-content:space-between;
align-items:center;
flex-direction:column ;
}
.div2{
height:fit-content;
width:100px;
border-top:solid blue;
background-color: blue;
}
.div3{
    height:50px;
    width:50px;
    background-color: white;
    border-top:4px dotted pink;
    
    

}